html,body{
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
}
header{
    background-color: #fff;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    padding: 4px 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.aba{
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 4px;
}
.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.centralizar2{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.centralizar2 input{
    margin: 0px 10px;
}
.div{
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    width: 90vw;
}
#aviso{
    font-size: larger;
    margin: 10px;
    text-align: center;
    width: inherit;
}
.perolas input{
    margin-top: 5px;
    margin-bottom: 10px;
}
#ultimovalor, #valortotal{
    text-align: center;
}
#perola{
    background-color: red;
    color: white;
}
.infantil{
    margin-bottom: 10px;
}